.form-field {
  border-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: green;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 224px;
}
