<section class="registration" id="registration">
    
    <div class="container">
        <h2 class="registration__tittle">Registration</h2>

        <div class="registration__area">
            <span class="registration__data">May 23, 11:00 New York</span>
            <span class="registration__price">$ 699</span>
            <div class="registration__line"></div>
            <form class="registration__form" action="">
                <p class="registration__entry-field--tittle">Apply your personal info for registration</p>
                <input class="registration__entry-field" type="text" placeholder="Name">
                <input class="registration__entry-field" type="tel" placeholder="Phone number">
                <input class="registration__entry-field" type="email" placeholder="Email">
            </form>
            <button class="registration__button" type="submit" >Register</button>
        </div>
    </div>

</section>