<section class="reviews-section">
  <div class="reviews">
    <h1 class="reviews__title">Reviews</h1>
    <ul class="reviews__list">
      <li class="reviews__item">
        <img src="./src/images/desktop/reviews/desktop-reviews-John.png" alt="" />
      </li>
      <h2 class="reviews__name">John</h2>
      <ul class="rate__list">
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star-null"></use>
          </svg>
        </li>
      </ul>
      <li class="reviews__item">
        <img src="./src/images/desktop/reviews/desktop-reviews-Will.png" alt="" />
      </li>
      <h2 class="reviews__name">Will</h2>
      <ul class="rate__list">
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <li class="reviews__item">
        <img src="./src/images/desktop/reviews/desktop-reviews-Elisabeth.png" alt="" />
      </li>
      <h2 class="reviews__name">Elisabeth</h2>
      <ul class="rate__list">
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="rate__item">
          <svg class="icon__star">
            <use href="./src/images/svg/sprite.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
    </ul>
    <p>
      Last time I have visited a cooking course by Eva I was impressed with the way she explained
      everything to people. You can be sure you will manage to cook a delicious dish even if it is
      your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the
      next one and highly recommend it to everyone!
    </p>
  </div>
</section>