.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.header__logo {
  padding-top: 5px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 30px;
  }
}

.header__logo-icon {
  width: 96px;
  height: 43px;
  fill: $main-text-cr;

  .header__logo:hover,
  .header__logo:focus & {
    fill: $additional-cr;
  }

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 71px;
  }
}

.menu__logo {
  margin-bottom: 40px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__logo-icon {
  width: 190px;
  height: 85px;
  fill: $main-text-cr;

  .menu__logo:hover,
  .menu__logo:focus & {
    fill: $additional-cr;
  }
}

.header__logo:hover,
.header__logo:focus .header__logo-icon {
  fill: $additional-cr;
}

// Уберу после добавления базовых стилей

.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
