.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  z-index: 99;
  overflow-y: scroll;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: inherit;
    pointer-events: none;

    .modal {
      transform: translate(-50%, -50%) scale(0.3);
    }
  }
}

.modal {
  position: relative;
  padding: 40px;
  height: 100%;

  background-color: #fef3e4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 600px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $additional-cr;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $main-bg-cr;
    border: 1px solid $additional-cr;
  }

  &:hover .modal__btn-icon,
  &:focus .modal__btn-icon {
    fill: $additional-cr;
  }
}

.modal__btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  fill: $main-bg-cr;

  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__map {
  width: 100%;
  height: 100%;
  border: 1px solid $additional-cr;
  border-radius: 4px;
}
