.social-list {
  display: flex;
}

.social-list__icon {
  //РАЗМЕР ИКОНОК ЗАДАН ПО САМОЙ ШИРОКОЙ( задала тут рамер чтобы они не были по умолчанию width-350px, все иконки по размеру разные, лучше его задавать инлайново, а тут потом убрать

  height: 15px;
  max-width: 20px;
  fill: $main-text-cr;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1280px) {
    height: 19px;
    max-width: 24px;
  }

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: $additional-cr;
  }
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 9.5px;

    @media screen and (min-width: 1280px) {
      margin-right: 12px;
    }
  }
}
