.common_down {
  background-image: url(../images/mobile/footer-bg/mobile-footer-bg.png);
  background-position: top 52px right 0, center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 320px;
  @media screen and (min-width: 400px) {
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/mobile/footer-bg/mobile-footer-bg@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/1/tablet-footer-bg.png);
    background-position: top 16px right 0, center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: 900px) {
      background-size: cover;
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/tablet/1/tablet-footer-bg@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/contact/desktop-footer-spoon-and-flour.png);
    background-image: url(../images/desktop/footer-bg/desktop-footer-bg.png);
    background-position: bottom 0 left 100%, top 36px center;
    background-size: 362px, contain;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/desktop/contact/desktop-footer-spoon-and-flour@2x.png),
        url(../images/desktop/footer-bg/desktop-footer-bg@2x.png);
    }
  }
}
