.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 224px;
  width: 100%;
  padding-top: 33px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    padding-top: 10px;
  }

  @media screen and (min-width: 1280px) {
    width: 490px;
    padding-top: 57px;
  }
}

.hero__title {
  margin-bottom: 3px;
  font-family: $title-font;
  @include fonts(400, 30px, 1.27);
  text-align: center;

  color: $main-text-cr;

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    @include fonts(400, 64px, 1.02);
  }
}

.hero__label {
  margin-bottom: 25px;
  font-family: $alternative-font-regular;
  font-style: normal;
  @include fonts(500, 16px, 1.25);
  text-align: center;

  color: $main-text-cr;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 18px;
    @include fonts(500, 24px, 1.21);
  }
}
