.registration {
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        
        height: 510px;
        background: $registration-tab-cr;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
        border-radius: 150px 150px 0px 0px ;

    }
    
}
.registration__tittle{
    @media screen and (min-width: 768px) {
        text-align: center;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 10px;
    }
}
.registration__conteiner{
    padding-top: 15px;
    padding-bottom: 34px;
    @media screen and (max-width: 767px) {
        width: 290px;
        height: 510px;
        background: $registration-tab-cr;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
        border-radius: 150px 150px 0px 0px ;
    }

}
.registration__area {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        padding: 35px;
        width: 634px;
        height: 260px;
        background: $registration-tab-cr;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
        border-radius: 150px;
    }
    @media screen and (min-width: 1280px) {
        padding: 35px 98px;
        width: 822px;
    }

}

.registration__data-box{
    margin-top: 11px;
   @media screen and (min-width: 768px) {
       position: relative;
       margin-top: 0;
       padding-right: 30px;
       width: 144px;
   } 


}
.test{
    &::after{
        content: '';
        display: block;
        margin: 20px auto 0 auto;
        width: 265px;
        height: 0;
        border: 1px solid $registration-line-cr;

        @media screen and (min-width: 768px) {
            position: absolute;
            left: 50px;
            align-items: center;
            width: 190px;
            transform: rotate(90deg);
            margin: 0;
        }
        
    }
}

.registration__data {
    display: block;
    width: 114px;
    font-family: $alternative-font-regular;
    font-style: normal;
    @include fonts(500, 18px, 1.2);
    text-align: center;
    @media screen and (max-width: 767px) {
        margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
        text-align: right;
        margin-left: auto;
    }
  
}
.registration__price {
    margin-top: 25px;
    font-family: $alternative-font-regular;
    @include fonts(500, 18px, 1.2);
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: right;
    }
}


.registration__form {
    margin-top: 11px;
    @media screen and (min-width: 768px) {
        padding-right: 25px;
        margin-top: 0;
        margin-left: 30px;
    }
    @media screen and (min-width: 1280px) {
        padding: 19px 38px 19px 0;
        padding-right: 38px;
    }
}
.registration__entry-field--tittle {
    display: block;
    margin-bottom: 17px;
    font-family: $alternative-font-regular;
    @include fonts(400, 16px, 1.25);
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}
.registration__entry-field {
    margin-bottom: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #AB816C;
    @media screen and (min-width: 768px) {
        margin-bottom: 15px;
    }
}
.placeholder{
    font-family: $alternative-font-italic;
    font-style: normal;
    @include fonts(400, 16px, 1.25);
    color: rgba(171, 129, 108, 0.5);

    // $registration-line-cr
}

.registration__button{
    margin: 0 auto;

}
